<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .hotel {
            border: 1px solid #ddd;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }

        .hotel h2 {
            margin-top: 0;
            color: #333;
        }

        .hotel p {
            margin: 0 0 10px;
        }
    </style>
</head>
<body>
<div th:each="hotel : ${recommendationList}">
    <h2 th:text="${hotel.name}"></h2>
    <p>Chain Code: <span th:text="${hotel.chainCode}"></span></p>
    <p>IATA Code: <span th:text="${hotel.iataCode}"></span></p>
    <p>Hotel ID: <span th:text="${hotel.hotelId}"></span></p>
    <p>Address: <span th:text="${hotel.address.description}"></span></p>
    <p>Country Code: <span th:text="${hotel.address.countryCode}"></span></p>
    <p th:if="${hotel.distance != null and hotel.distance.description != null}">Distance: <span
            th:text="${hotel.distance.description}"></span></p>
    <form action="/showProperty" method="post">
        <input type="hidden" name="hotelId" th:value="${hotel.hotelId}">
        <button type="submit">See offers</button>
    </form>
    <hr>
</div>

</body>
</html>