<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TripPlanner</title>
</head>
<body>
<header>
    Welcome to Trip Planner!
</header>
<h2>Trip Planner Form</h2>

<form action ="/recommend" method="post" th:object="${tripForm}">
    <label for="city">City:</label><br>
    <input type="text" id="city" name="city" th:field="*{city}"><br>

    <label for="adults">Number of Adults:</label><br>
    <input type="number" id="adults" name="adults" min="1" th:field="*{adults}"><br>

    <label for="checkin">Check In Date:</label><br>
    <input type="date" id="checkin" name="checkin" th:field="*{checkin}"><br>

    <label for="checkout">Check Out Date:</label><br>
    <input type="date" id="checkout" name="checkout" th:field="*{checkout}"><br>

    <input type="submit" value="Submit" style="margin-top: 5vh">
</form>
</body>
</html>