<!DOCTYPE html>
<html lang="en">
<head th:object="${hotelOfferResponse}">
    <meta charset="UTF-8">
    <title>TripPlanner - Selected Property</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<header><strong th:text="${hotelOfferResponse.data.get(0).hotel.name}"></strong></header>
<div th:each="offer : ${hotelOfferResponse.data.get(0).offers}">
    <h2 th:text="${offer.id}"></h2>
    <table>
        <tr>
            <th>Check In Date</th>
            <td th:text="${offer.checkInDate}"></td>
        </tr>
        <tr>
            <th>Check Out Date</th>
            <td th:text="${offer.checkOutDate}"></td>
        </tr>
        <tr>
            <th>Rate Code</th>
            <td th:text="${offer.rateCode}"></td>
        </tr>
        <tr>
            <th>Room Type</th>
            <td th:text="${offer.room.type}"></td>
        </tr>
        <tr>
            <th>Price</th>
            <td th:text="${offer.price.total}"></td>
        </tr>
        <tr>
            <th>Payment Type</th>
            <td th:text="${offer.policies.paymentType}"></td>
        </tr>
    </table>
</div>
</body>
</html>