<!DOCTYPE html>
<html lang="en">
<head>
    <title>Directions</title>
    <link rel="stylesheet" type="text/css" th:href="@{./css/style.css}"/>
    <script th:inline="javascript">
        // Make sure to replace this line with your server-side templating language to pass the API key
        var googleMapsApiKey = '${googleMapsApiKey}';
    </script>
</head>
<body th:data-source="${source}" th:data-destination="${destination}" th:data-apikey="${googleMapsApiKey}">

<div id="map" ></div>

<div>
    <button onclick="calculateRoute('DRIVING')">Driving</button>
    <button onclick="calculateRoute('TRANSIT')">Public Transportation</button>
</div>

    <a th:href="@{'/schedule?source=' + ${#strings.defaultString(source, 'Unknown')}
            + '&destination=' + ${#strings.defaultString(destination, 'Unknown')}
            + '&numberOfTravelers=' + ${#strings.defaultString(numberOfTravelers, '1')}
            + '&motivation=' + ${#strings.defaultString(motivation, 'leisure')}
            + '&groupType=' + ${#strings.defaultString(groupType, 'solo')}
            + '&startDate=' + ${#strings.defaultString(startDate, '2025-01-01')}
            + '&endDate=' + ${#strings.defaultString(endDate, '2025-01-07')}
            + '&budgetType=' + ${#strings.defaultString(budgetType, 'standard')}
        }">Proceed</a>

<!-- Google Maps API (Make sure the key is correct!) -->
<script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=initMap&libraries=places,marker&loading=async'}" defer></script>

<!-- External JS Scripts -->
<script defer type="module" th:src="@{./script/initializeMap.js}"></script>
<script defer type="module" th:src="@{./script/RouteDisplay.js}"></script>
</body>
</html>
