<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Auto Submit Form</title>
</head>
<body onload="document.forms['myForm'].submit()">
<div th:class="${schedule == null or schedule.isEmpty()} ? '' : 'hidden'">
<form id="myForm" th:if="${schedule.isEmpty() or schedule == null}" th:action="@{/schedule}" method="post" style="display: none;">

</form>
</div>
<div class="container" id="scheduleContainer" th:object="${schedule}" th:if="${schedule != null}">
    <div th:each="day, dayIdx : ${schedule}">
        <div class="card">
            <h2 th:text="'Day ' + ${day.number}"></h2>
            <div th:each="activity : ${day.activityList}">
                <p th:text="${activity.name}"></p>
            </div>
        </div>
    </div>
    <a th:href="@{'http://localhost:8083/recommend-accommodation?source='+ ${source} + '&destination=' + ${destination} + '&numberOfTravelers=' + ${numberOfTravelers} + '&motivation=' + ${motivation} + '&groupType=' + ${groupType} + '&startDate=' + ${startDate} + '&endDate=' + ${endDate} + '&budgetType=' + ${budgetType}}">Proceed</a>
</div>
<script>
    if (!localStorage.getItem('formSubmitted')) {
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
                var form = document.getElementById("myForm");
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        localStorage.setItem('formSubmitted', 'true');
                    }
                };
                xhr.send(new FormData(form));
            }, 5000);  // Delay of 5 seconds
        });
    }
</script>

</body>
</html>
